.linkButton { /* Link buttons */
	margin: 5px;
	cursor: pointer;
	border-color: #019ba6;
	border-style: outset;
	background-color: #485b64;
	padding: 0px;
	height: 60px;
	width: 100px;
	text-align: center;
	align-items: flex-start;
	display: inline-block;
	box-sizing: border-box;
}

.sub { /* Link drawers */
    width: 100%;
	background-color: #9e9e9e;
	color: #000000;
	text-align: left;
	overflow-wrap: normal;
    padding: 2px;
    font-size: 90%;
	position: relative;
	margin-top: 5px;
    margin-bottom: 10px;
	outline: #019ba6 solid 2px;
	display: none;
}

.linkButton:hover,
a.subLink:hover { /* Adds the color while hovering over links/buttons */
	background-color: #019ba6;
}

.label {
	font-family: Franklin Gothic Medium, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #01C1C6;
	font-style: italic;
	text-shadow: black 1px 1px;
	
	font-size: 20px;
	font-size: 15vw;
	text-align: center;
}
